#header{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 100%;
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

#toolbar{
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}

#grid{
  display: block;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.gridcell{
  display: inline-block;
  height: 100%;
  outline: 1px solid #949494;
  background-color: white;
}

.gridrow{
  float: left;
  width:100%;
  white-space: nowrap;
}

form{
  font-family: Arial, sans-serif;
  font-size: 13px;
  display: inline-block;
}

button{
  font: Arial;
  color: black;
  background-color: #EDEDED;
  font-size: 13px;
  margin: 11px 4px;
  text-align: center;
  height: 36px;
  border: 1px solid #BFBFBF;
  display: inline-block;
  vertical-align: middle;
}

button:hover{
  color: #222;
  background-color: #F8F8F8;
  border: 1px solid #BFBFBF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

#gridinput{
  border: 1px solid #BFBFBF;
  height: 20px;
  font-size: 13px;
  width: 50px;
}

#colormodebox{
  text-align:left;
  background-color: #EDEDED;
  border: 1px solid #BFBFBF;
  padding: 10px;
  vertical-align: middle;
  margin-right: 4px;
}
